/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}


/* Terminal */
#terminal span.terminal-cursor {
    width: 10px;
    background-color: #f0f0f0
}

#terminal .terminal {
    border: 0 !important;
    font-family: "DejaVu Sans Mono","Liberation Mono",monospace;
    font-size: 14px;
    color: #f0f0f0;
    background: transparent;
    background-color: transparent !important
}
.mod-console {
    padding: 0 0 10px 0;
    width: 760px
}

.mod-console .hdr {
    background: #3e3d39;
    background: linear-gradient(to bottom,#3e3d39 0%,#676662 2%,#3c3b37 49%,#3c3b37 100%);
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    color: #5e5c58;
    font-size: 15px;
    font-weight: bold;
    padding: 4px 0 0 6px;
    height: 26px;
    border-bottom: 1px solid #5b5859;
    -webkit-box-shadow: 2px 5px 2px 0 rgba(0,0,0,0.8);
    box-shadow: 1px 5px 2px 1px rgba(0,0,0,0.8)
}

.mod-console .hdr span {
    display: block;
    float: left;
    margin-left: 10px;
    padding-top: 1px
}

.mod-console .bdy {
    background: #3f2337;
    background: linear-gradient(to bottom,#3f2337 1%,#3f2337 5%,#502e46 37%,#56344c 99%);
    -webkit-box-shadow: 2px 3px 2px 0 rgba(0,0,0,0.8);
    box-shadow: 2px 3px 2px 0 rgba(0,0,0,0.8)
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
